
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    text-align: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
   
  }

  button{
    outline:none;

  }
  
  body{
    background-color: #034cee;
  width: 100vw;
  height: 100%;
  }

  ul,li{
    list-style-type:none;
  }
  
  .buttons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 240px;
  }
  
  .App .btn{
    max-width: 170px;
    height: 80px;
    font-size: 23px;
    background-color: #4c9dfa;
    color: white;
    border: 3px solid #ffcc24;
  }

  .App .btn-discount{
    background-color: rgb(221, 113, 24);
    color: white;
    border: 3px solid #ffcc24;
    max-width: 170px;
    height: 80px;
    font-size: 23px;


  }



  .App .btn-discount:hover {
    background-color: rgb(100, 15, 15);
  }.App .btn-discount:active {
    background-color: rgb(77, 5, 5);
  }



  .App .btn:hover{
    background-color: #076de2;

  }
  .App .btn:active{
    background-color: #071de2;

  }
  
  .container {
    display: flex;
    justify-content: space-evenly;
    height: 88vh;
  }
  
  .ticket {
    background-color: white;
    max-width:400px;
    text-align: end;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
  }
  .ticketList{
    border:1px solid black;
    height: 80%;
    padding: 20px;
    border-radius: 10px;
    overflow: scroll;

  }

  .ticketElement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0;
    background-color: #d2e4f8;
    padding: 5px;
    border-radius: 5px;
  }

.ticketelTxt{
  width: 80%;
  display: flex;
  justify-content: space-between;
}

  .ticket-btn{
    border:none;
    border-radius: 50%;
    margin: 3px;
    background-color: white;
}

.ticket-btn:active{
  background-color:#059711;
  color: white;
  
}

  
  .total{
   text-align: end;
  }
  
  .header{
    background-color: #ffcc24;  
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
margin-bottom: 10px;

  }

.header h1{
  font-size: 40px;
  font-weight: 700;
}
.link{
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 10px;
  margin:0 4px 0 0;
}



.header .img{
  width: 110px ;
  height: 50px;
background-image: url("./img/logo.png");
background-size: cover;
background-position: center;

}


  .dayTrackList{
    
    display:flex;
    justify-content: space-between;
    border-top: 2px solid white;
    font-size: 1.2rem;


  }

  .payTicket{
    display: flex;
    padding: 30px 30px 10px 30px;
    justify-content: space-between;
    align-items: center;
  }

  .payTicket button {
    width: 50%;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #ffcc24;
    font-size: 18px;
    font-weight: 700;
  }

  .payTicket button:hover{
    background-color: #034cee;
    color: white;
  }
  .payTicket button:active{
    background-color: #059711;
  }
  
  table{
    color: white;
    padding: 0 15%;
    width: 80vw;

  }

  table ul li{
    text-align: left;
    width: 300px;
  }
  table ul{
    padding: 0;
  }
  table tfoot{
    position: fixed;
    bottom:  60px;
    left: 77vw;
    font-size: 21px;
    background-color: #071de2;
    padding: 5px 25px 5px 5px;
    border-radius: 10px 0 0 10px;
  }

  .change {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 10px 30px 10px 30px;
    align-items: center;

  }

  .change input{
    width: 100px;
    height: 30px;
  }

  .change p{
    font-weight: bold;
  }
  
  @media (max-width:500px){
    .container {
      flex-direction: column;
    }
    .buttons{
      grid-template-columns: repeat(5,1fr)
    }
    .ticket{
      height: 320px;
    }
    .links{
      display: flex;
      flex-direction: column;
    }
    .App .btn, 
    .App .btn-discount{
font-size: 10px;
    }
    table{
      margin: 0;
      padding: 0;
      width: 100vw;
    }
    table ul li{
      width: auto;
      

    }
    table tfoot{
      left: 50vw;
    }
    

  }